<div class="text-center mt-3">
  <h2>Your matches - {{pagination.totalItems}} found</h2>
  <div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true" 
                [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage"
                [(ngModel)]="pagination.currentPage"
                (pageChanged)="pageChanged($event)"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 filters">
    
    <h4>Sort By</h4>
    <button type="button" style="display: block;" name="orderBy" class="btn btn-secondary"
      [(ngModel)]="userParams.orderBy" (click)="loadUsers()" btnRadio="lastActive">Last Active</button>
    <button type="button" name="orderBy" class="btn btn-secondary" 
      [(ngModel)]="userParams.orderBy" (click)="loadUsers()" btnRadio="created">Newest Members</button>

    <h4 class="filter-header">Filters</h4>
      <form class="form" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
        <div class="form-group filter-input">
          <label for="studentTutor">Show: </label>
          <select class="form-control" id="studentTutor" name="studentTutor" [(ngModel)]="userParams.studentTutor">
            <option *ngFor="let studentTutor of studentTutorList" [value]="studentTutor.value">
              {{studentTutor.display}}
            </option>
          </select>
        </div>
        
        <div class="form-group filter-input">
          <label for="city">City:</label>
          <input type="string" class="form-control"id="city" name="city" [(ngModel)]="userParams.city">
        </div>
      
        <div class="form-group filter-input">
          <label for="state">State:</label>
          <input type="string" class="form-control"id="state" name="state" [(ngModel)]="userParams.state">
        </div>

        <div class="form-group filter-input">
          <label for="subjects">Subject:</label>
          <input type="string" class="form-control"id="subjects" name="subjects" [(ngModel)]="userParams.subjects">
        </div>

        <div class="form-group filter-input">
          <label for="availability">Days Available:</label>
          <input type="string" class="form-control"id="availability" name="availability" [(ngModel)]="userParams.availability">
        </div>
      

        <button type="submit" class="btn btn-primary" style="display:block;">Apply Filters</button>
        <button type="button" class="btn btn-info" (click)="resetFilters()">Reset Filter</button>
      
      </form>
  </div>

  <div class="col-sm-9">
    <div class="container mt-3">
      <div class="row">
        <div *ngFor="let user of users" class="col-lg-3 col-md-4 col-sm-6">
          <app-member-card [user]="user"></app-member-card>
        </div>
      </div>
    </div>
  </div>
</div>