.filter-input, h4 {
    padding: 2px;
    margin-left: 30px;
}

h4 {
    font-weight: bold;
}

button {
    margin-bottom: 5px;
    margin-left: 30px;
}

.filter-input {
    max-width: 140px;
}

.filters {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 250px;
}

.filter-header {
    margin-top: 40px;
}